In [1]:
from pandasql import sqldf
import pandas as pd
from sklearn import datasets

In [4]:
df_feature = datasets.load_iris(as_frame = True)['data']
df_target = datasets.load_iris(as_frame = True)['target']
print (type(df_feature))
print (type(df_target))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

# SQLdf example

### globals() and locals() 
are built-in function in python where functions and variables are stored. Lets examine what the globals() function does.

In [16]:
q = "SELECT * FROM df_feature LIMIT 3"
sqldf(q, globals())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2

In [ ]:
globals()

In [ ]:
locals()

We create a new function named pysqldf to avoid passing in globals() or locals() for every query.

In [18]:
pysqldf = lambda q: sqldf(q, globals())

In [19]:
query = 'SELECT * FROM df_feature LIMIT 3'
pysqldf(query)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2

## Join Dataframes

In [20]:
pd.concat([df_feature, df_target], axis = 1).head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [26]:
pd.concat([df_feature, df_target], axis = 1)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

Since Pandasql utilises SQLite under the hood, a SQLite table would have rowid column created by default. This column contains incremental integer value starting from 1

In [27]:
query = 'SELECT rowid, * FROM df_feature LIMIT 3'
pysqldf(query)

,rowid,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
0,1,5.1,3.5,1.4,0.2
1,2,4.9,3.0,1.4,0.2
2,3,4.7,3.2,1.3,0.2